/* ROOT */
*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

/* VARIABLES */
:root {
  --negro: #2b2b2b;
  --gris: #7a7a7a;
  --gris-oscuro: #2b2b2b;
  --blanco: #f2f2f2;
  --rosa-rosa: #e21683;
  --rosa: #3d17e0;
  --violeta: #a2007d;
}

/* DOCUMENT */
body {
  background-color: var(--blanco);
  font-family: "Roboto", sans-serif;
  color: var(--rosa);
}

/* ELEMENTS */
main {
  display: flex;
  flex-direction: column;
}
button {
  border: 1px solid var(--rosa); /* Green */
  color: var(--rosa);
  padding: 12px;
  margin: 4px 0px;
  width: 100%;
  height: 90%;
  border-radius: 24px;
  transition-duration: 0.326s;
}

button:focus {
  background-color: var(--rosa);
  color: var(--blanco);
  height: 90%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("../imgs/arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  border: 1px solid var(--rosa);
  color: var(--rosa);
  padding-left: 6%;
  padding-right: 6%;
  margin: 4px 0px;
  width: 100%;
  height: 90%;
  border-radius: 24px;
}

ul {
  list-style-type: none;
  height: 100%;
}

td {
  font-weight: bold;
}

/* CLASSES */
.container-cotizador {
  width: 666px;
  min-width: 384px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 60px);
  row-gap: 12px;
}

.planilla {
  /*
  display: none;
  visibility: hidden;
  */
  /* width: 600px;
  min-width: 500px; */
  padding-left: 20px;
  margin: 16px 0px;
  font-weight: lighter;
  width: 666px;
}

.first {
  visibility: hidden;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr;
  row-gap: 12px;
  background-color: var(--rosa-rosa);
  color: var(--blanco);
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

thead {
  display: block;
  height: 40px;
}

.seconds {
  display: grid;
  grid-template-columns: 4fr 2fr 1.5fr 1fr;
  grid-template-rows: 40px;
  row-gap: 12px;
  background-color: var(--blanco);
  color: var(--gris-oscuro);
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 6px 0px;
  margin: 4px 0px;
}

.td-uno {
  grid-column: 1/2;
  grid-row: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.td-dos {
  grid-column: 2/3;
  grid-row: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.td-tres {
  grid-column: 3/4;
  grid-row: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.td-cuatro {
  grid-column: 4/5;
  grid-row: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rmv-btn {
  width: 50%;
  height: 56%;
  padding: 0px;
  border-radius: 12px;
  color: var(--rosa-rosa);
  border-color: var(--rosa-rosa);
}

/* IDs */
#r-uno {
  grid-column: 1 / 5;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#tv {
  grid-column: 1 / 2;
  width: 94%;
  justify-items: center;
}

#cine {
  grid-column: 2 / 3;
  width: 94%;
  justify-items: center;
}

#publi {
  grid-column: 3 / 4;
  width: 94%;
  justify-items: center;
}

#anim {
  grid-column: 4 / 5;
  width: 94%;
  justify-items: center;
}

#r-dos {
  grid-column: 1 / 5;
  grid-row: 2/3;
}

#r-tres {
  grid-column: 1 / 5;
  grid-row: 3/4;
}

#r-cuatro {
  grid-column: 1 / 5;
  grid-row: 4/5;
}

#r-cinco {
  grid-column: 1 / 5;
  grid-row: 5/6;
}

#agregar {
  grid-column: 2 / 4;
  grid-row: 7/8;
}

#btn_agregar_id {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

#btn_agregar_id:focus {
  background-color: var(--rosa);
  color: var(--blanco);
}

#subtotal {
  font-size: 1rem;
  grid-column: 1/5;
  grid-row: 6/7;
  border: 1px solid var(--rosa);
  border-radius: 24px;
  padding: 6px;
  padding-left: 24px;
  margin: 4px 0px;
  text-align: center;
}

#total-str {
  grid-column: 2 / 4;
  grid-row: 8/9;
  width: 94%;
  text-align: center;
  padding-top: 1rem;
  font-size: 1.2rem;
}

#total {
  font-size: 1.6rem;
  grid-column: 2/4;
  grid-row: 9/10;
  border: 0px solid var(--rosa);
  border-radius: 24px;
  padding: 6px;
  margin: 4px 0px;
  text-align: center;
}

/*
#prod-head,
#cont-head,
#asig-head,
#tiempo-head {
  color: var(--gris);
}
*/
